@page
@model CSVDownload.Pages.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a sample to demonstrate how to create and download a CSV file in a Razor Pages application.</p>
    <p>Created by <a href="https://ilyana.dev">ilyanaDev</a></p>
    <form method="post">
        <input type="submit" class="btn btn-dark" value="Download CSV" />
    </form>
</div>
